.button-createClass{
    display: flex;
    margin-left: auto;
    background-color: #252525;
    border: none;
    border-radius: 10px;
    color: #737373;
    font-size: 11px;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 5px 5px;
    margin-right: 20px;
    cursor: pointer;
}

.icon-button-createClass{
    width: 16px; /* Ukuran lebar gambar */
    height: 16px; /* Ukuran tinggi gambar */
}

.button-createClass:hover{
    
}