.card-kecil-kosong {
    flex-shrink:0;
    position: relative; /* Pastikan card menjadi parent untuk positioning */
    background-color: #252525; /* Warna latar belakang bagian bawah card */
    width: 155px; /* Lebar tetap card */
    height: 120px; /* Tinggi tetap card */
    border-radius: 10px; /* Sudut melengkung */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;


    
}

.card-kecil-cover {
    background-color: #313131;
    width: 100%; 
    height: 40%; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
}

.card-add-icon {
    position: absolute; 
    top: 40%; 
    left: 20px;
    transform: translate(-50%, -50%); 
}

.card-kecil-kosong p {
    margin: 0;
    font-size: 11px;
    margin-top: 25px;
    margin-left: 12px;
    color: #737373; 
}