
.card-kecil-isi {
    flex-shrink:0;
    position: relative; /* Pastikan card menjadi parent untuk positioning */
    background-color: #252525; /* Warna latar belakang bagian bawah card */
    width: 155px; /* Lebar tetap card */
    height: 120px; /* Tinggi tetap card */
    border-radius: 10px; /* Sudut melengkung */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
    align-items: center;
}

.card-kecil-cover-isi {
    background-color: #003cff;
    width: 100%; 
    height: 40%; 
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
}

.card-profile-icon{
    position: absolute;
    left: 112px;
    top: 6px;
    width: 35px;
    height: 35px;
    border-radius: 50%; /* Membuat icon berbentuk lingkaran */
}

.card-kecil-isi-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 8px;
    width: 133px;
    height: 70px ;
}

.title-class {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    width: 100%;
    height: 20px;
    margin: 0px;
    font-size: 17px;
    color: #ffffff; 
    overflow-x: auto; 
    overflow-y: hidden; 
    white-space: nowrap; 
}

.mapel-class {
    margin: 0px;
    margin-top: 4px;
    font-size: 11px;
    color: #ffffff; 
}