.card-kecil-kosong {
    flex-shrink: 0;
    position: relative; /* Pastikan card menjadi parent untuk positioning */
    background-color: #252525; /* Warna latar belakang bagian bawah card */
    width: 155px; /* Lebar tetap card */
    height: 120px; /* Tinggi tetap card */
    border-radius: 10px; /* Sudut melengkung */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Bayangan lembut */
    display: flex;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
}

.card-kecil-cover {
    background-color: #313131; /* Warna cover bagian atas */
    width: 100%; /* Lebar penuh card */
    height: 40%; /* Tinggi cover (50% dari card) */
    border-top-left-radius: 10px; /* Sudut melengkung atas kiri */
    border-top-right-radius: 10px; /* Sudut melengkung atas kanan */
}

.card-add-icon {
    position: absolute; /* Posisi absolut untuk menempatkan ikon */
    top: 40%; /* Letakkan di tengah secara vertikal */
    left: 20px;
    transform: translate(-50%, -50%); /* Pusatkan ikon */
}

.card-kecil-kosong p {
    margin: 0;
    font-size: 11px;
    margin-top: 25px;
    margin-left: 12px;
    color: #737373; /* Warna teks */
}