* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Hilangkan highlight pada link */
}

.lastseen-container {
    display: flex;
    gap: 15px; 
    overflow-x: auto; 
    overflow-y: hidden; 
    white-space: nowrap; 
    padding: 10px 0px;
    width: 90%;
    box-sizing: border-box;
    margin-bottom: 30px;
}

.upcoming-container {
    display: flex;
    width: 90%;
    justify-content: center; 
    align-items: center; 
    padding: 10px 0px;
    margin-bottom: 30px;
}

.info-tugas-container {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center; 
    padding: 10px 0px;
    margin-bottom: 30px;
}