.header {
    position: fixed; /* Membuat header tetap di atas */
    top: 0; /* Tempelkan di bagian atas */
    left: 0;
    width: 100%; /* Pastikan header memenuhi lebar layar */
    z-index: 1000; /* Pastikan header berada di atas elemen lainnya */
    background-color: #191919; /* Warna latar belakang header */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Opsional: Tambahkan bayangan */
    display: flex; /* Elemen dalam baris horizontal */
    align-items: center; /* Vertikal rata tengah */
    justify-content: center;
    padding: 0px;
}

/* Profile menu container */
.profile-menu {
    position: relative;
    display: flex;
    margin-left: auto; /* Letakkan di sisi kanan */
    cursor: pointer;
    margin-right: 10px; /* Jarak dari sisi kanan */
    margin-top: 8px;
    margin-bottom: 8px;
}

/* Profile icon */
#profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%; /* Membuat icon berbentuk lingkaran */
}

