* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Hilangkan highlight pada link */
}

.navbar{
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo-icon {
    margin-left: 23px; 
}

#menu-icon {
    width: 25px;
    cursor: pointer;
}

#menu-label {
    font-size: 14px;
    color: white;
    margin-left: 10px;
    white-space: nowrap;
}

/* Panel menu */
.side-panel {
    position: fixed;
    top: 0;
    left: -250px; 
    width: 200px;
    height: 100%;
    background-color: #252525;
    box-shadow: -1px 1px 17px 4px rgba(0,0,0,0.64);
    -webkit-box-shadow: -1px 1px 17px 4px rgba(0,0,0,0.64);
    -moz-box-shadow: -1px 1px 17px 4px rgba(0,0,0,0.64);
    transition: left 0.3s ease; /* Animasi untuk transisi */
    z-index: 1000;
}

.side-panel.open {
    left: 0; 
}

.side-panel ul {
    list-style: none;
    margin-top: 0px;
    padding: 0px;
}

.side-panel ul li {
    margin: 10px 0;
}

.side-panel ul li a {
    display: flex; 
    align-items: center;
    color: white;
    text-decoration: none; 
    font-size: 14px;
    font-family: Arial, sans-serif; 
    padding: 10px 20px;
    box-sizing: border-box; 
    width: 100%; 
}

.side-panel ul li a:hover {
    transition: .2s ease-in-out;
    transition-delay: .1s;
    text-decoration: none;
    background-color: #737373;
    border-radius: 10px;
}

.side-panel ul li a.active {
    background-color: #737373;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 100%;
}

.menu-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px; 
}

.menu-text {
    white-space: nowrap;
}

.link-logout {
    position: absolute;
    top: 750px;
}

