.innerClass-menu {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    width: 100%;
    height: 22px;
}

.innerClass-menu-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    color: #737373;
    font-size: 11px;
    transition: color 0.3s;
}

.nav-link.active {
    color: rgb(255, 255, 255);
    background-color: #737373;
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
}

.nav-link:hover {
    transition: .2s ease-in-out;
    transition-delay: .1s;
    color: rgb(255, 255, 255);
    background-color: #737373;
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
}