* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* Hilangkan highlight pada link */
}

.navbar{
    display: flex; /* Elemen dalam baris horizontal */
    align-items: center; /* Vertikal rata tengah */
    padding: 10px;
}

.logo-icon {
    margin-left: 23px; 
}

#menu-icon {
    width: 30px; /* Ukuran ikon menu */
    cursor: pointer; /* Menunjukkan ikon dapat diklik */
}

#menu-label {
    font-size: 16px;
    color: white;
    margin-left: 10px; /* Jarak antara ikon dan teks */
    white-space: nowrap; /* Mencegah teks terpotong ke baris baru */
}

/* Panel menu */
.side-panel {
    position: fixed;
    top: 0;
    left: -250px; 
    width: 200px;
    height: 100%;
    background-color: #252525;
    color: white;
    box-shadow: -1px 1px 17px 4px rgba(0,0,0,0.64);
    -webkit-box-shadow: -1px 1px 17px 4px rgba(0,0,0,0.64);
    -moz-box-shadow: -1px 1px 17px 4px rgba(0,0,0,0.64);
    transition: left 0.3s ease; /* Animasi untuk transisi */
    z-index: 1000;
}

.side-panel.open {
    left: 0; /* Panel muncul di layar */
}

.side-panel ul {
    list-style: none;
    margin-top: 0px;
    padding: 0px;
}

.side-panel ul li {
    margin: 10px 0; /* Jarak antar item menu */
}

.side-panel ul li a {
    display: flex; /* Elemen dalam baris horizontal */
    align-items: center; /* Vertikal rata tengah */
    color: white;
    text-decoration: none; /* Hilangkan garis bawah */
    font-size: 16px;
    font-family: Arial, sans-serif; /* Font yang digunakan */
    padding: 10px 20px; /* Padding internal */
    box-sizing: border-box; /* Pastikan padding tidak mengubah ukuran elemen */
    width: 100%; /* Pastikan semua elemen memiliki lebar yang sama */

}

.side-panel ul li a:hover {
    text-decoration: none;
    background-color: #737373;
    border-radius: 10px;
}

.side-panel ul li a.active {
    background-color: #737373; /* Warna background untuk item aktif */
    color: white; /* Warna teks */
    border-radius: 10px; /* Sudut melengkung */
    padding: 10px 20px; /* Padding internal */
    box-sizing: border-box; /* Pastikan padding tidak mengubah ukuran elemen */
    display: flex; /* Tetap sejajar dengan elemen lainnya */
    align-items: center; /* Vertikal rata tengah */
    width: 100%; /* Pastikan elemen aktif tetap mengikuti lebar menu */
}

.menu-icon {
    width: 20px; /* Ukuran ikon */
    height: 20px; /* Ukuran ikon */
    margin-right: 10px; /* Jarak antara ikon dan teks */
}

.menu-text {
    white-space: nowrap; /* Mencegah teks terpotong ke baris baru */
}

.link-logout {
    position: absolute;
    top: 750px;
}

